---
import Layout from "../Layout.astro";
import { Image } from "astro:assets";
import img1 from "../images/IMG_9872.JPG";
import img2 from "../images/IMG_9873.JPG";
import img3 from "../images/IMG_9874.JPG";
import img4 from "../images/IMG_9875.JPG";
import img5 from "../images/IMG_9876.JPG";
import img6 from "../images/IMG_9877.JPG";
import img7 from "../images/IMG_9878.JPG";
---

<Layout>
  <h1 class="text-4xl font-bold text-center">Mueller Skatepark</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <Image src={img1} alt="Skatepark image 1" />
    <Image src={img2} alt="Skatepark image 2" />
    <Image src={img3} alt="Skatepark image 3" />
    <Image src={img4} alt="Skatepark image 4" />
    <Image src={img5} alt="Skatepark image 5" />
    <Image src={img6} alt="Skatepark image 6" />
    <Image src={img7} alt="Skatepark image 7" />
  </div>
</Layout>
